
html {
    width: 100%;
}
.error {
    color: red;
}
.correct {
    color: green;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header li {

    float: left;
}

.header li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
.title {
    text-align: center;
}
.posts ul{
    list-style-type: none;
}