<!DOCTYPE html>
<html>
    <head>
        <title>Build-A-Blog</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/blog.css') }}">
    </head>
    <body>
        <div class="header">
        <ul>
            <li>
                <a href="/blog">Main Blog Page</a>
            </li>
            <li>
                <a href="/newpost">Add a New Post</a>
            </li>
        </ul>
        </div>
        {% block content %}
        {% endblock %}

    </body>
</html>
